@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --font-fair: "Playfair Display", serif;
  --font-outfit: "Outfit", serif;
  --font-fira-code:"Fira Code",
    monospace;
  --background-color : lab(2.75381% 0 0);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
  scroll-behavior: smooth;
}
  body {
    @apply antialiased;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
  }

  img {
    display: block;
    max-width: 100%;
  }
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
      background: #ffffff;
      border-radius: 100px;
      transition: background 0.3s ease;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #3f3f46;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: #1a1a1a #050505;
    }
}
